.weather-app {
    margin: 0 20px;
    
}
/*Search Form design */
div.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
/*H1 design */
h1.location-details {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.loading-effect {
    display: flex;
    justify-content: center;
    align-items: center;
  }

body {
    background-image: url("../images/billy-huynh-v9bnfMCyKbg-unsplash.jpg");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
  